<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>todoList</title>
</head>
<body>
    <div id="app">
        <div class="newTo-do">
            <input placeholder="nuovo to-do" v-model="newTodo.text" @keyup.enter="newItem " type="text">
            <button @click="newItem " >Invia</button>
        </div>
    
        <ul id="list">
            <li v-for="(item, i) in toDo" :class="item.done === true ? 'underline' : '' "   :key="i">
                <span @click="underline(item) ">{{ item.text }}</span>
                <i class="fa-solid fa-xmark" @click="deleteItem(i)" ></i>
            </li>
        </ul>
    
        </div>

        <div>
            <p>inizia!</p>
        </div>
    
    
        <script src="vue/script.js"></script>
</body>
</html>